<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted" ng-controller="LayoutController as ctrl">Web EntityFramerwork
            <img ng-if="ctrl.systemBase" ng-src="assets/images/{{ctrl.systemBase}}.svg" alt="" class="os">
        </h3>

    </div>

    <div class="row marketing">
        <div class="col-lg-12">
            <span data-ui-view="content"></span>
        </div>

    </div>

    <footer class="footer">
        <p>&copy; 2016 William Thiago.</p>
    </footer>
</div>